Character.Sheet/Character.Sheet.Droid/obj/
Character.Sheet/Character.Sheet.Droid/bin/
packages/
Character.Sheet/Character.Sheet.iOS/obj/
Character.Sheet/Character.Sheet/obj/
Character.Sheet/Character.Sheet/bin/
CharacterSheet.Droid/obj/
CharacterSheet.Droid.Backend/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CharacterSheet.Droid.Backend/obj/
CharacterSheet.Droid.Backend/bin/
CharacterSheet.Droid/bin/
Herolab.Droid/obj/Debug/__library_projects__/Dropins.Chooser.Android/library_project_imports/res/drawable-xhdpi/tab_dropbox.png
Herolab.Droid/obj/
Herolab.Droid/bin/
CharacterSheet.UI/obj/
CharacterSheet.UI/bin/
Herolab.Droid/apps.dysfunctional.com.*-Aligned.apk
*.suo
.vs/CharacterSheet.Droid/v14/.suo
*.apk
